
/* rules  */
:root {
    --bg-clr: #fdf2f3;
    --primary-clr: #e2314a; /*borders, box-shadow, color*/
    --primary-clr-light: #ffb6bf; /*inner-borders*/
    --secondary-clr-light: #f8d9cf; /*bg, header-bg*/
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {

    font-size: 16px;
}

@media(min-width:550px) {
    html {
        font-size: 17px;
    }
}

@media(min-width:900px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    background-color: var(--bg-clr);
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
    margin: .5em auto;   
}

h2 {
    text-transform: uppercase;
    margin: 0.5em auto;
    font-size: 1.4rem;
}

h3 {
    margin: 0.6em auto;
    font-size: 1.2rem;
    font-weight: 500;
}

input {
    font-size: inherit;
    font-family: inherit;

}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

p {
    line-height: 1.4;
    font-size: 1.1rem;
}

/*top section*/
.top-section {
    background-color: var(--secondary-clr-light);
}

header {
    max-width: 800px;
    padding: .5em 1em 1em 1em;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

header button {
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button .text {
    display: none;
}

@media(min-width:500px) {
    header {
        align-items: stretch;
    }

    header button i {
        display: none !important;
    }

    header button .text {
        display: block;
        font-weight: bold;
    }
}

.logo {
    max-width: 300px;
    max-height: 200px;
    margin-bottom: -14%;

    border: 10px solid var(--secondary-clr-light);
    border-top: transparent;
    border-radius: 50%;

    overflow: hidden;
}

/*components to override*/

.unfunctional {
    position: relative;
}

.unfunctional:hover::before {
    content: "";
    position: absolute;
    z-index: 998;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--primary-clr-light) transparent;
}

.unfunctional:hover::after {
    content: "not functional yet!";
    font-size: .9rem;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 100%;
    color: var(--primary-clr-light);
    border: 5px solid var(--primary-clr-light);
    border-radius: 5px;
    transform: translate(-50%, 10px);
    padding: 0.5em;
    z-index: 999;
}

.with-transition {
    transition: .7s ease-in-out;
}

.without-transition {
    /*doens't even exist, just added to remember the diff*/
    transition: none;
}

.click--effect:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

.fat-button {
    padding: .75em;

    border: 2px solid var(--primary-clr);
    background-color: var(--secondary-clr-light);
    color: var(--primary-clr);
    box-shadow: 5px 5px 0px 0px var(--primary-clr);

    border-radius: 9px;    
}

.fat-button-not-bg {
    padding: .75em;

    border: 2px solid var(--primary-clr);
    background-color: var(--bg-clr);
    color: var(--primary-clr);
    box-shadow: 5px 5px 0px 0px var(--primary-clr);

    border-radius: 9px; 
}

/* components NOT to override - assigned from JS */
.fat-button-clicked {
    border: 2px solid var(--primary-clr-light);
    background-color: var(--bg-clr);
    color: var(--primary-clr-light);
    box-shadow: none;
    transform: translate(5px, 5px);    
}

.fat-button-clicked-no-transform {
    border: 2px solid var(--primary-clr-light);
    background-color: var(--bg-clr);
    color: var(--primary-clr-light);
    box-shadow: none;
}

.fat-button-not-bg-clicked {
    border: 2px solid var(--primary-clr-light);
    background-color: var(--secondary-clr-light);
    color: var(--primary-clr-light);
    box-shadow: none;
    transform: translate(5px, 5px);   
}